

.alertSirenNameCell {
    
}
.alertMessageCell {

}
.alertStatusCell {
    width: 10%;
}
.alertSeenByCell {

}
.alertRespondCell {
    width: 10%;
}

.A_alertRow {
    background-color: #ee8080;
    color: #2b374b;
}