.simpleContainer {
     background-color: #2f2f2f;
     height: 35vh;
}

#sirenContainer {
    width: 20.1vw;
    margin-right: 15px;
}

.dataRow {
     padding: 0px; 
}

#metricHistoryContainer {
    width: 77.5vw;
}

#middleDataRow {
    margin-top: 15px;
}

#A {
    margin-right: 15px;
    width: 32.31vw;
}
#B {
    margin-right: 15px;
    width: 32.31vw;
}

#C {

    width: 32.24vw;
}

#liveFeedContainer {
    margin-top: 15px;
    height: 18.5vh;
    background-color: #2f2f2f;
}