.simpleContainer {
     background-color: #2f2f2f;
     height: 35vh;
     padding: 0px;
     margin: 0px;
}

.mainContainer {
     padding-left: 0px; 
     padding-right: 0px;
}

.outerContainer {
    padding-left: 0px
}

.rightContainer {
    padding-right: 0px;
}

#middleRow {
    margin-top: 15px;
}

#bottomRow {
    margin-top: 15px;
}

#liveFeedContainer {
    height: 18vh;
    background-color: #2f2f2f;
    margin-bottom: 15px;
}

.header {
    color: #bfd8d1;
}

.tableContainer {
    color: #bfd8d1;
}

.A_Siren {
    background-color: #ee8080;
    color: #2b374b;
}

.containerHeaderText {
    letter-spacing: 2px;
}

.alertActionOption {
    color: #222222;
}
