{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css_files %}
<link href="{% static 'css/nipContainer.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js_files %}
<script type="text/javascript" src="{% static 'js/nipDetails.js' %}"></script>
{% endblock %}

{% block page_header %}
    <h2 class="headerSubtext" id="pageHeader">Data &amp; Analytics: Overview</h2>
{% endblock %}


{% block page_content %}

    {% include 'include/nipModal.html' %}

    {% for row in nip_array %}
        {% for nip in row %}
            {% if nip == "EMPTY" %}
                <div class="col-md-3 nipContainer">
                    <div class="col-md-12 nipIconContainer" align="middle">
                        <img src="{% static 'images/nip_icon_dark_grey.png' %}" class="nipIcon">
                    </div>
                    <div class="col-md-12 nipDetailsRow">
                        <div class="col-md-4">
                            <h4>Name:</h4>
                        </div>
                        <div class="col-md-8">
                            <h4>{{nip.name}}</h4>
                        </div>
                    </div>
                    <div class="col-md-12 nipDetailsRow">
                        <div class="col-md-4">
                            <h4>Location:</h4>
                        </div>
                        <div class="col-md-8">
                            <h4>{{nip.location.name}}</h4>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-3 nipContainer">
                    <div class="col-md-12 nipInnerContainer">
                        <div class="col-md-12" align="middle">
                            {% if nip.status == "AA" %}
                                <img src="{% static 'images/nip_icon_light_grey.png' %}" class="nipIcon">
                            {% elif nip.status == "W" %}
                                <img src="{% static 'images/nip_icon_green.png' %}" class="nipIcon">
                            {% elif nip.status == "D" %}
                                <img src="{% static 'images/nip_icon_light_grey.png' %}" class="nipIcon">
                            {% elif nip.status == "E" %}
                                <img src="{% static 'images/nip_icon_red.png' %}" class="nipIcon">
                            {% elif nip.status == "T" %}
                                <img src="{% static 'images/nip_icon_orange.png' %}" class="nipIcon">
                            {% else %}

                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5 nipDetailHeader">
                                <h4>NAME:</h4>
                            </div>
                            <div class="col-md-7 nipDetail">
                                <h4>{{nip.name}}</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5 nipDetailHeader">
                                <h4>LOCATION:</h4>
                            </div>
                            <div class="col-md-7 nipDetail">
                                <h4>{{nip.location.name}}</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5 nipDetailHeader">
                                <h4>STATUS:</h4>
                            </div>
                            <div class="col-md-7 nipDetail">
                                <h4>{{nip.get_verbose_status}}</h4>
                            </div>
                        </div>
                        <div class="col-md-12"><hr></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    
{% endblock %}