{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css_files %}

{% endblock %}

{% block extra_js_files %}

{% endblock %}

{% block header_section %}
    <div class="col-md-12 container headerContainer">
        <div class="col-md-4" align="left">
            <img src="{% static 'images/logo_pink.svg' %}" class="headerImage" style="width:64px; height:64px;">
            <h2 class="headerText">NIPPI</h2>
        </div>
        <div class="col-md-4" align="middle">
            <h2 class="headerSubtext" id="pageHeader">Nip: {{nip.name}}</h2>
        </div>
        <div class="col-md-4" align="right">
            <h4 class="headerSubtext">Welcome {{current_user}}</h4>
            <img src="{% static 'images/userIcon_light_blue.png' %}" class="headerImage" style="width:64px; height:64px;">
        </div>
    </div>
{% endblock %}



{% block page_content %}
<div class="col-md-12">
    <div class="col-md-4 simpleContainer" id="sirenContainer">
        {% for siren in nip.siren_set.all %}
            
        {% endfor %}
    </div>
</div>
{% endblock %}
