{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css_files %}
<link href="{% static 'css/details.css' %}" rel="stylesheet">
<link href="{% static 'css/modalOverrides.css' %}" rel="stylesheet">
<link href="{% static 'css/alertTable.css' %}" rel="stylesheet">
<link href="{% static 'css/graphing/historicGraph.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js_files %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.js"></script>
    <script type="text/javascript" src="{% static 'js/alerts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/graphing/historicGraph.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/graphing/liveFeed.js' %}"></script>
{% endblock %}


{% block page_header %}
    <h2 class="headerSubtext" id="pageHeader">Nip: {{nip.name}}</h2>            
{% endblock %}

{% block page_content %}
    {% include 'include/confirmHandledModal.html' %}
    {% include 'include/confirmSeenModal.html' %}

    <form id="respond_to_alert_form" method="post" name="respond_to_alert_form">
        {% csrf_token %}
        {% for field in respond_to_alert_form %}
            {{field.as_hidden}}
        {% endfor %}
    </form>

    <div class="col-md-12 dataRow" id="topRow">
        <div class="col-md-6 outerContainer leftContainer">
            <div class="col-md-12 simpleContainer" id="alertContainer">
                <div class="col-md-12 header">
                    <h3 class="containerHeaderText">Alerts</h3>
                    <hr>
                </div>
                <div class="col-md-12 tableContainer" id="alertTableContainer">
                    <table class="table" id="alertTable">
                        <thead>
                            <tr>
                                <th class="alertSirenNameCell">Siren</th>
                                <th class="alertStatusCell">Status</th>
                                <th class="alertMessageCell">Message</th>
                                <th class="alertSeenByCell">Seen By</th>
                                <th class="alertRespondCell">Respond</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alert in alerts %}
                                <tr class="{{alert.status}}_alertRow" id="{{alert.pk}}">
                                    <td class="alertSirenNameCell">{{alert.siren.name}}</td>
                                    <td class="alertStatucCell"><b>{{alert.get_verbose_status}}</b></td>
                                    <td class="alertMessageCell">{{alert.siren.message}}</td>
                                    <td class="alertSeenByCell" align="left">
                                        <ul class="seenByList">
                                            {% for user in alert.seen_by.all %}
                                                {% if user == alert.handled_by %}
                                                    <li class="seenByListItem"><b>{{user.username}}</b></li>
                                                {% else %}
                                                    <li class="seenByListItem">{{user.username}}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="alertRespondCell">
                                        <div class="dropdown">
                                            {% if alert.status == "H" %}
                                                <button class="btn btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown" disabled>
                                                    Respond
                                                    <span class="caret"></span>
                                                </button>
                                            {% else %}
                                            <button class="btn btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                                Respond
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" id="alertActionDropdownMenu">
                                                <li class="dropdownOption alertActionOption">Seen</li>
                                                <li class="dropdownOption alertActionOption">Handled</li>
                                            </ul>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 outerContainer rightContainer">
            <div class="col-md-12 simpleContainer" id="metricHistoryContainer">
                <div class="col-md-12 header">
                    <h3 class="containerHeaderText">Historic Data</h3>
                    <hr>
                </div>
                <div class="graphContainer" id="historicGraphContainer"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 dataRow" id="middleRow">
        <div class="col-md-4 outerContainer leftContainer">
            <div class="col-md-12 simpleContainer" id="sirenContainer">
                <div class="col-md-12 header">
                    <h3 class="containerHeaderText">Sirens</h3>
                    <hr>
                </div>
                <div class="col-md-12 tableContainer" id="sirenTableContainer">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for siren in nip.siren_set.all %}
                                <tr class="sirenRow {{siren.status}}_Siren" id="{{siren.pk}}">
                                <td class="sirenNameCell">{{siren.name}}</td>
                                <td class="sirenStatusCell">{{siren.get_verbose_status}}</td>
                                <td class="sirenDetailsCell"><button type="button" class="btn btn-xs btn-info openSirenDetails">Details</button></td>
                                {% if siren.creator == request.user %}
                                    <td class="sirenEditCell"><button type="button" class="btn btn-xs btn-warning openSirenEdit">Edit</button></td>
                                    <td class="sirenRemoveCell"><button type="button" class="btn btn-xs btn-danger openSirenEdit">X</button></td>
                                {% else %}
                                    <td class="sirenEditCell"><button type="button" class="btn btn-xs btn-warning openSirenEdit disabled">Edit</button></td>
                                    <td class="sirenRemoveCell"><button type="button" class="btn btn-xs btn-danger openSirenEdit disabled">X</button></td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 outerContainer leftContainer">
            <div class="col-md-12 simpleContainer" id="locationContainer">
                <div class="col-md-12 header">
                    <h3 class="containerHeaderText">Location</h3>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6" align="left">
                        <h4 class="containerText locationName">Location Name:</h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="containerText locationName">{{nip.location.name}}</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6" align="left">
                        <h4 class="containerText">Description:</h4>
                    </div>
                    <div class="col-md-6" align="left">
                        <p class="containerText">{{nip.location.description}}</p>
                    </div>
                </div>
                <div class="col-md-12"><hr></div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h4 class="containerText">Other Nips:</h4>
                    </div>
                    <div class="col-md-6" id="locationNipListContainer">
                        <ul id="locationNipsList">
                            {% for n in nip.location.nip_set.all %}
                                <li class="locationNipListItem containerText">
                                    {{n.name}}
                                    <button type="button" class="btn btn-xs btn-info goToRelatedNip">Go To</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 outerContainer rightContainer">
            <div class="col-md-12 simpleContainer" id="nipDetailscontainer">
                <div class="col-md-12 header">
                    <h3 class="containerHeaderText">Nip Details</h3>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h4 class="containerText">Name:</h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="containerText">{{nip.name}}</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h4 class="containerText">Status:</h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="containerText">{{nip.get_verbose_status}}</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h4 class="containerText">UID:</h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="containerText">{{nip.uid}}</h4>
                    </div>
                </div>
                <div class="col-md-12" id="nipDetailsDivider"><hr></div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-xs btn-info" id="openDownloadModal">Download Records</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 dataRow" id="bottomRow">
        <div class="col-md-12 simpleContainer" id="liveFeedContainer">
            <div class="col-md-12 header">
                <h3>Live Feed</h3>
                <hr>
            </div>
            <div class="col-md-12 graphContainer" id="liveGraphContainer"></div>
        </div>
    </div>
{% endblock %}
