{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css_files %}
<link href="{% static 'css/details.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js_files %}

{% endblock %}

{% block header_section %}
    <div class="col-md-12 container headerContainer">
        <div class="col-md-4" align="left">
            <img src="{% static 'images/logo_pink.svg' %}" class="headerImage" style="width:64px; height:64px;">
            <h2 class="headerText">NIPPI</h2>
        </div>
        <div class="col-md-4" align="middle">
            <h2 class="headerSubtext" id="pageHeader">Nip: {{nip.name}}</h2>
        </div>
        <div class="col-md-4" align="right">
            <h4 class="headerSubtext">Welcome {{current_user}}</h4>
            <img src="{% static 'images/userIcon_light_blue.png' %}" class="headerImage" style="width:64px; height:64px;">
        </div>
    </div>
{% endblock %}



{% block page_content %}
    <div class="col-md-12 dataRow" id="topRow">
        <div class="col-md-4 outerContainer leftContainer">
            <div class="col-md-12 simpleContainer" id="sirenContainer">
                <div class="col-md-12 header">
                    <h3>My Sirens</h3><hr>
                </div>
                <div class="col-md-12 tableContainer" id="sirenTableContainer">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for siren in nip.siren_set.all %}
                                {% if siren.status == "A" %}
                                    <tr class="sirenRow alertedSiren" id="{{siren.pk}}">
                                {% elif siren.status == "D" %}
                                    <tr class="sirenRow dormantSiren" id="{{siren.pk}}">
                                {% elif siren.status == "P" %}
                                    <tr class="sirenRow pausedSiren" id="{{siren.pk}}">
                                {% endif %}
                                    <td class="sirenNameCell">{{siren.name}}</td>
                                    <td class="sirenStatusCell">{{siren.get_verbose_status}}</td>
                                    <td class="sirenDetailsCell"><button type="button" class="btn btn-xs btn-info openSirenDetails">Details</button></td>
                                    <td class="sirenEditCell"><button type="button" class="btn btn-xs btn-warning openSirenEdit">Edit</button></td>
                                    <td class="sirenRemoveCell"><button type="button" class="btn btn-xs btn-danger openSirenEdit">X</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8 outerContainer rightContainer">
            <div class="col-md-12 simpleContainer" id="metricHistoryContainer">
            </div>
        </div>
    </div>
    <div class="col-md-12 dataRow" id="middleRow">
        <div class="col-md-4 outerContainer leftContainer">
            <div class="col-md-12 simpleContainer"></div>
        </div>
        <div class="col-md-4 outerContainer leftContainer">
            <div class="col-md-12 simpleContainer"></div>
        </div>
        <div class="col-md-4 outerContainer rightContainer">
            <div class="col-md-12 simpleContainer"></div>
        </div>
    </div>
    <div class="col-md-12 dataRow" id="bottomRow">
        <div class="col-md-12 simpleContainer" id="liveFeedContainer">
        </div>
    </div>
{% endblock %}
