<div class="dropdown" id="timescaleDropdown">
        <button class="btn btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown" id="timescaleDropdown">
            Select Timescale
            <span class="caret"></span>
        </button>
    <ul class="dropdown-menu" id="timescaleDropdownMenu">
        <li class="dropdownOption timescaleOption" id="TODAY">Today</li>
        <li class="dropdownOption timescaleOption" id="24HOURS">Past 24 Hours</li>
        <li class="dropdownOption timescaleOption" id="WEEK">Past Week</li>
        <li class="dropdownOption timescaleOption" id="HOUR">Past Hour</li>
        <li class="dropdownOption timescaleOption" id="15MINS">Past 15 Minutes</li>
        <li class="dropdownOption timescaleOption" id="ALL">All Time</li>
    </ul>
</div>