

<div id="addLocationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Location</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <h4>Name:</h4>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="newLocationName">
                        </div>
                    </div>
                    <div class="col-md-12"><hr></div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <button type="button" class="btn" data-dismiss="modal">CANCEL</button>
                        </div>
                        <div class="col-md-6" align="right">
                            <button type="button" class="btn acceptButton" id="acceptNewLocation">ACCEPT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>