
<div id="confirmationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirmationModalTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    
                    <div class="col-md-12" align="middle">
                        <p id="confirmationModalMessage"></p>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <button type="button" class="btn" data-dismiss="modal">CANCEL</button>
                        </div>
                        <div class="col-md-6" align="right">
                            <input type="submit" class="btn acceptButton" form="" id="confirm" value="CONFIRM">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>